*{
    padding: 0;
    margin: 0;
}
.plat{
    position: absolute;
    border: 10px solid black;
    height: 186px;
    width: 380px;
    left: 50%;
    top: 50%;
    margin-left: -190px;
    margin-top: -93px;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 10px solid black;
    border-radius: 50%;
}
.circle1{
   border-color: red;
    left: 0;
    top: 0;
}
.circle2{
    border-color: black;
    left: 130px;
    top: 0;
    z-index: 3;
}
.circle3{
    border-color: yellow;
    left: 260px;
    top: 0;

}
.circle4{
    border-color: green;
    left: 65px;
    top: 70px;
}
.circle5{
    border-color: purple;
    left: 195px;
    top: 70px;
}