*{
    padding: 0;
    margin: 0;
}
.right{
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    opacity: 0.5;
    right: 0;
}
.left{
    height: 100px;
    margin-right: 100px;
    background-color: red;
}